<h1>Your Stupid Coach</h1> <br> <br>
<div class="alert alert-light">
<p >You asked:</p> <p class="fst-italic"><%= @question %></p></div>
<div class="alert alert-warning">
<p>your Coach answer :</p> <p class="fst-italic"><%= @response %></p>
</div>
